/* Center the box fully */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

/* White card box */
.login-box {
  background: rgb(147, 162, 248);
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 15px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #2c82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #0056d6;
}



/* Home Button */
.home-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #0066cc;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.home-btn:hover {
  background: #004999;
}
