.menu-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #dff1ff, #ffffff);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.menu-header {
  background: #7a3309;
  color: rgb(255, 250, 246);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header nav button {
  margin-left: 15px;
  background: rgb(132, 216, 219);
  color: #007bff;
  border: none;
  border-radius: 9px;
  padding: 7px 12px;
  cursor: pointer;
  font-weight: 600;
}

.menu-header nav button:hover {
  background: #1b4e91;
}

.menu-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.menu-form {
  width: 100%;
  max-width: 1000px;
  background: rgb(190, 113, 49);
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(3, 1, 2, 0.1);
  padding: 30px;
}

.menu-form input,
.menu-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.menu-card {
  background: #4d2907;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu-card:hover {
  transform: scale(1.05);
  background: #725752;
}

.menu-card.selected {
  background: #7a3309;
  color: rgb(87, 70, 49);
  transform: scale(1.07);
}

.menu-summary {
  text-align: center;
  margin-top: 25px;
}

.menu-summary button {
  background: #237210;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.menu-summary button:hover {
  background: #718294;
}
